@model Livro

@{
    ViewData["Title"] = "Destalhes do Livro";
}

<h1>Livros Disponíveis</h1>

<div>
    <span>
        @ViewBag.Livro.Nome
    </span>
    <div>
        <img src="/img/Livros/@ViewBag.Livro.Imagem" alt="Imagem da capa do livro @ViewBag.Livro.Imagem">
        <span>Descrição:</span>
        <p>@ViewBag.Livro.Descricao</p>
    </div>

    <span>Editora:</span>
    <p>@ViewBag.Livro.Editora</p>

    <span>Escritor:</span>
    <p>@ViewBag.Livro.Escritor</p>

    <span>Idioma:</span>
    <p>
        @ViewBag.Livro.Idioma
    </p>

    @if (ViewBag.Categoria != null && ViewBag.Categoria.Count > 0)
    {
        <h3>Categorias:</h3>
        <ul>
            @foreach (var categoria in ViewBag.Categoria)
            {
                <li>@categoria.Nome</li>
            }
        </ul>
    }
    else
    {
        <p>Este livro não possui categorias.</p>
    }

  <a asp-area="" asp-controller="Livro" asp-action="Excluir" asp-route-id="@ViewBag.Livro.LivroID">Excluir</a>
  <a asp-area="" asp-controller="Livro" asp-action="Editar" asp-route-id="@ViewBag.Livro.LivroID">Editar</a>
</div>
