@* // @ : acessa variáveis e recursos de código dentro do RAZOR *@

@model Equipe // chama a model Equipe

@{
    //ViewData : Dados da View
    //["Title"] : Quero setar um valor pois senão viria como Home Page padrão
    //"Equipe" : novo título para essa página

    ViewData["Title"] = "Equipe";
}

<h2>Tela de Equipes</h2>

@* //tabela que mostrará as equipes cadastradas *@
<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>

    @* //dados da tabela de equipe salvas na viewbag de equipe *@
    <tbody>
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td>
                    <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                </td>
                <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">
                        Excluir
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@* //formulário de cadastro
//método POST : enviaremos dados na requisição
//action : chamará a rota "Cadastrar *@
<form method="POST" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
    <label for="">Nome</label>
    <input type="text" name="Nome">

    <label for="">Imagem</label>
    <input type="file" name="Imagem">

    <button type="submit">Cadastrar</button>
</form>